# Ignore build output folders
/Debug/
/Release/

# Ignore STM32CubeIDE metadata caches
/.settings/
/.metadata/
/.project
/.cproject

# Ignore vendor drivers
/Drivers/CMSIS
/Drivers/STM32*

# Ignore OS-specific files
.DS_Store
Thumbs.db